@import "../settings/colors";

.darkmode{
	background-color: $grey;
	.text{
		color: $white;
		&.text-darkblue{
			color: $white;
			span{
				color: $lightpink;
			}
		}
		a{
			color: $lightpink;
		}
	}
	.footer{
		background-color: $grey;
	}
	.sidebar{
		.sidebar__box{
			background-color: $lightpink;
		}
	}
	.search{
		.search__card{
			.search__card__who{
				color: $white;
			}
			.search__card__tags{
				ul{
					li{
						&.search__card__tags__type{
							background-color: $lightpink;
						}
					}
				}
			}
		}
	}
}