@import "../settings/colors";

.footer{
	padding: 35px 0 120px;
	background-color: $black-base;
	.footer__logo{
		width: 250px;
		max-width: 100%;
		margin-bottom: 40px;
	}
	h3{
		color: $white;
		margin-bottom: 15px;
	}
	ul{
		padding-left: 0;
		margin-bottom: 30px;
		li{
			list-style: none;
			margin-bottom: 14px;
			&:last-child{
				margin-bottom: 0;
			}
			a{
				display: inline-block;
				color: $white;
				&.text.text-sm{
					line-height: 20px;
				}
			}
		}
	}
	p{
		color: $purple;
		padding-top: 30px;
		border-top: 0.75px solid $lightgrey;
	}
}